In [3]:
### GET ME THE AVERAGE SALES GROUP BY TERRITORIES : Example 4 SQL EQUIVALENT

import pyodbc
import pandas


# Connection string to your SQL Server instance

conn_str = pyodbc.connect('Driver={SQL Server};' 'Server=LAPTOP-CHKIB79A;''Database=AdventureWorks2017;''Trusted_Connection=yes;')

query_str = "SELECT t.Name AS Territories,  CAST(h.Subtotal AS FLOAT) AS Sales  \
  FROM Sales.SalesOrderHeader h INNER JOIN Sales.SalesTerritory t  ON h.TerritoryID = t.TerritoryID;"

df = pandas.read_sql(sql=query_str, con=conn_str)
df2 = df.groupby('Territories').agg({'Sales': 'sum'})
df2.columns = ['Total Sales']
df2 = df2.reset_index()

# add Performance column
df2["Performance"] = "Acceptable"
df2["Performance"][df2["Total Sales"] < 7000000] = "Poor"
df2["Performance"][df2["Total Sales"] > 10000000] = "Excellent"

print(df2)

      Territories   Total Sales Performance
0       Australia  1.065534e+07   Excellent
1          Canada  1.635577e+07   Excellent
2         Central  7.909009e+06  Acceptable
3          France  7.251556e+06  Acceptable
4         Germany  4.915408e+06        Poor
5       Northeast  6.939374e+06        Poor
6       Northwest  1.608494e+07   Excellent
7       Southeast  7.879655e+06  Acceptable
8       Southwest  2.418461e+07   Excellent
9  United Kingdom  7.670721e+06  Acceptable

C:\Users\tej_j\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tej_j\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [4]:
### GET ME THE AVERAGE SALES GROUP BY TERRITORIES AND CONTINENT: Example 5 SQL EQUIVALENT

import pyodbc
import pandas


# Connection string to your SQL Server instance

conn_str = pyodbc.connect('Driver={SQL Server};' 'Server=LAPTOP-CHKIB79A;''Database=AdventureWorks2017;''Trusted_Connection=yes;')

query_str = "SELECT t.Name AS Territories, t.[Group] as Continent, CAST(h.Subtotal AS FLOAT) AS Sales  \
  FROM Sales.SalesOrderHeader h INNER JOIN Sales.SalesTerritory t  \
    ON h.TerritoryID = t.TerritoryID;"

df = pandas.read_sql(sql=query_str, con=conn_str)

df2 = df.groupby(["Territories","Continent"]).agg({"Sales": "sum"})
df2.columns = ["Total Sales"]
df2 = df2.reset_index()

# add Performance column
df2["Performance"] = "Acceptable"
df2["Performance"][df2["Total Sales"] < 7000000] = "Poor"
df2["Performance"][df2["Total Sales"] > 10000000] = "Excellent"



print(df2)

      Territories      Continent   Total Sales Performance
0       Australia        Pacific  1.065534e+07   Excellent
1          Canada  North America  1.635577e+07   Excellent
2         Central  North America  7.909009e+06  Acceptable
3          France         Europe  7.251556e+06  Acceptable
4         Germany         Europe  4.915408e+06        Poor
5       Northeast  North America  6.939374e+06        Poor
6       Northwest  North America  1.608494e+07   Excellent
7       Southeast  North America  7.879655e+06  Acceptable
8       Southwest  North America  2.418461e+07   Excellent
9  United Kingdom         Europe  7.670721e+06  Acceptable

C:\Users\tej_j\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tej_j\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
### AGGREGATING ONE FACT : GET ME THE AVERAGE, MIN , MAX AND TOTAL SALES GROUP BY TERRITORIES : Example 6 SQL EQUIVALENT

import pyodbc
import pandas


# Connection string to your SQL Server instance

conn_str = pyodbc.connect('Driver={SQL Server};' 'Server=LAPTOP-CHKIB79A;''Database=AdventureWorks2017;''Trusted_Connection=yes;')

query_str = "SELECT t.Name AS Territories,t.[Group] as Continent,  CAST(h.Subtotal AS FLOAT) AS Sales ,TaxAmt  \
  FROM Sales.SalesOrderHeader h INNER JOIN Sales.SalesTerritory t  \
    ON h.TerritoryID = t.TerritoryID;"


df = pandas.read_sql(sql=query_str, con=conn_str)

# Multiple aggregation by one fact and one group by
df2 = df.groupby(["Territories","Continent"]).agg({'Sales': ['mean', 'sum','min', 'max' ]})
df2.columns = ["Avg Sales", "Total Sales","Mim Sales", "Max Sales"]

#df2 = df2.reset_index()

# add Performance column
df2["Performance"] = "Acceptable"
df2["Performance"][df2["Avg Sales"] < 2000] = "Poor"
df2["Performance"][df2["Avg Sales"] > 15000] = "Excellent"

print(df2)

                                 Avg Sales   Total Sales  Mim Sales  \
Territories    Continent
Australia      Pacific         1557.114710  1.065534e+07      2.290
Canada         North America   4021.581130  1.635577e+07      2.290
Central        North America  20542.880536  7.909009e+06      7.280
France         Europe          2713.905557  7.251556e+06      3.990
Germany        Europe          1873.964009  4.915408e+06      3.990
Northeast      North America  19714.132049  6.939374e+06      1.374
Northwest      North America   3501.293546  1.608494e+07      2.290
Southeast      North America  16213.282043  7.879655e+06      2.290
Southwest      North America   3885.702057  2.418461e+07      2.290
United Kingdom Europe          2382.951549  7.670721e+06      2.748

                                Max Sales Performance
Territories    Continent
Australia      Pacific         63669.4800        Poor
Canada         North America  150837.4387  Acceptable
Central        North America  128873.2206   Excellent
France         Europe         147390.9328  Acceptable
Germany        Europe         104153.3951        Poor
Northeast      North America  146154.5653   Excellent
Northwest      North America  112611.9697  Acceptable
Southeast      North America  126198.3362   Excellent
Southwest      North America  163930.3943  Acceptable
United Kingdom Europe         115310.4777  Acceptable

C:\Users\tej_j\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tej_j\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
### AGGREGATING MULTIPLE  FACTS : FOR SALES :GET ME THE AVERAGE AND TOTAL SALES :FOR TAX: GET ME AVERAGE TAX : Example 7 SQL EQUIVALENT
## GROUP BY TERRITORIES

import pyodbc
import pandas


# Connection string to your SQL Server instance

conn_str = pyodbc.connect('Driver={SQL Server};' 'Server=LAPTOP-CHKIB79A;''Database=AdventureWorks2017;''Trusted_Connection=yes;')

query_str = "SELECT t.Name AS Territories, t.[Group] as Continent, CAST(h.Subtotal AS FLOAT) AS Sales ,TaxAmt  \
  FROM Sales.SalesOrderHeader h INNER JOIN Sales.SalesTerritory t  \
    ON h.TerritoryID = t.TerritoryID;"


df = pandas.read_sql(sql=query_str, con=conn_str)

# Multiple aggregation by 2 facts and one group by
df3 = df.groupby(["Territories","Continent"]).agg({'Sales': ['mean', 'sum','min', 'max' ],'TaxAmt' : ['mean']})
df3.columns = ['Avg Sales', 'Total Sales','Mim Sales', 'Max Sales', 'AvgTax']
df3 = df3.reset_index()
# add Performance column
df3["Performance"] = "Acceptable"
df3["Performance"][df3["Avg Sales"] < 2000] = "Poor"
df3["Performance"][df3["Avg Sales"] > 15000] = "Excellent"

print(df3)

      Territories      Continent     Avg Sales   Total Sales  Mim Sales  \
0       Australia        Pacific   1557.114710  1.065534e+07      2.290
1          Canada  North America   4021.581130  1.635577e+07      2.290
2         Central  North America  20542.880536  7.909009e+06      7.280
3          France         Europe   2713.905557  7.251556e+06      3.990
4         Germany         Europe   1873.964009  4.915408e+06      3.990
5       Northeast  North America  19714.132049  6.939374e+06      1.374
6       Northwest  North America   3501.293546  1.608494e+07      2.290
7       Southeast  North America  16213.282043  7.879655e+06      2.290
8       Southwest  North America   3885.702057  2.418461e+07      2.290
9  United Kingdom         Europe   2382.951549  7.670721e+06      2.748

     Max Sales       AvgTax Performance
0   63669.4800   129.048378        Poor
1  150837.4387   382.761814  Acceptable
2  128873.2206  1987.463678   Excellent
3  147390.9328   247.560205  Acceptable
4  104153.3951   163.945149        Poor
5  146154.5653  1906.569581   Excellent
6  112611.9697   327.834272  Acceptable
7  126198.3362  1574.672612   Excellent
8  163930.3943   363.078081  Acceptable
9  115310.4777   213.808511  Acceptable

C:\Users\tej_j\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tej_j\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
#  Extensive use of datetime strftime() : Example 10 SQL equivalent
import pyodbc
import pandas
import datetime as dt


# Connection string to your SQL Server instance

conn_str = pyodbc.connect('Driver={SQL Server};' 'Server=LAPTOP-CHKIB79A;''Database=AdventureWorks2017;''Trusted_Connection=yes;')

query_str = "SELECT t.Name AS Territories, h.OrderDate as OrderDates, CAST(h.Subtotal AS FLOAT) AS Sales   \
  FROM Sales.SalesOrderHeader h INNER JOIN Sales.SalesTerritory t  \
    ON h.TerritoryID = t.TerritoryID   WHERE YEAR(h.OrderDate) = 2013 ;"


df = pandas.read_sql(sql=query_str, con=conn_str)

df["MonthYearName"] = df["OrderDates"].dt.strftime("%b  %Y")
df["MonthYearNo"] = df["OrderDates"].dt.strftime("%m  %Y")
df["LongMonthName"] = df["OrderDates"].dt.strftime("%B")
df["ShortMonthName"] = df["OrderDates"].dt.strftime("%b")
# as_index=False will give you all the column names. 
df1 = df.groupby(["Territories", "MonthYearName","MonthYearNo","LongMonthName","ShortMonthName"],as_index=False).agg({"Sales": ["sum"]})
df1.reset_index()
print(df1)

        Territories MonthYearName MonthYearNo LongMonthName ShortMonthName  \

0         Australia     Apr  2013    04  2013         April            Apr
1         Australia     Aug  2013    08  2013        August            Aug
2         Australia     Dec  2013    12  2013      December            Dec
3         Australia     Feb  2013    02  2013      February            Feb
4         Australia     Jan  2013    01  2013       January            Jan
..              ...           ...         ...           ...            ...
115  United Kingdom     Mar  2013    03  2013         March            Mar
116  United Kingdom     May  2013    05  2013           May            May
117  United Kingdom     Nov  2013    11  2013      November            Nov
118  United Kingdom     Oct  2013    10  2013       October            Oct
119  United Kingdom     Sep  2013    09  2013     September            Sep

           Sales
             sum
0    205166.1319
1    394785.6320
2    468650.3400
3    177688.0601
4    222513.7199
..           ...
115  166535.5923
116  213416.7193
117  297249.2690
118  602234.0745
119  347461.7014

[120 rows x 6 columns]

In [8]:
#  Extensive use of datetime strftime() : Example 11 Method 1 SQL equivalent
import pyodbc
import pandas
import datetime as dt


# Connection string to your SQL Server instance

conn_str = pyodbc.connect('Driver={SQL Server};' 'Server=LAPTOP-CHKIB79A;''Database=AdventureWorks2017;''Trusted_Connection=yes;')

query_str = "SELECT t.Name AS Territories, h.OrderDate as OrderDates, CAST(h.Subtotal AS FLOAT) AS Sales   \
  FROM Sales.SalesOrderHeader h INNER JOIN Sales.SalesTerritory t  \
    ON h.TerritoryID = t.TerritoryID   WHERE YEAR(h.OrderDate) = 2013 ;"


df = pandas.read_sql(sql=query_str, con=conn_str)

df["MonthYearName"] = df["OrderDates"].dt.strftime("%b  %Y")
df["MonthYearNo"] = df["OrderDates"].dt.strftime("%m  %Y")
df["LongMonthName"] = df["OrderDates"].dt.strftime("%B")
df["ShortMonthName"] = df["OrderDates"].dt.strftime("%b")
df1 = df.groupby(["Territories", "MonthYearName","MonthYearNo","LongMonthName","ShortMonthName"],as_index=False).agg({"Sales": ["sum"]})

#df1.reset_index()

# Note that I was able to specify all my column names because I set as_index=False
df1.columns = ["Territories", "MonthYearName","MonthYearNo","LongMonthName","ShortMonthName","Total Sales"]


# Add computed column namely TargetSales to the dataframe df2
df1["TargetSales"] = df1["Total Sales"] * 2

# Filter rows. Below would have failed without df2.columns above bcos Total Sales had no header name after aggregation until df2.columns was used.
df1 = df1[(df1["Territories"] == "Australia")  & (df1["Total Sales"] > 300000)]

# Drop ShortMonthName ( Method 1)

df1.drop("ShortMonthName", axis=1, inplace=True)




print(df1)

   Territories MonthYearName MonthYearNo LongMonthName  Total Sales  \
1    Australia     Aug  2013    08  2013        August  394785.6320
2    Australia     Dec  2013    12  2013      December  468650.3400
5    Australia     Jul  2013    07  2013          July  456778.3180
6    Australia     Jun  2013    06  2013          June  380028.9423
9    Australia     Nov  2013    11  2013      November  427532.8060
10   Australia     Oct  2013    10  2013       October  572304.2426
11   Australia     Sep  2013    09  2013     September  457109.6440

     TargetSales
1   7.895713e+05
2   9.373007e+05
5   9.135566e+05
6   7.600579e+05
9   8.550656e+05
10  1.144608e+06
11  9.142193e+05